*{padding: 0px; margin: 0px;}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #050517;
}

#navLogin{
    color: #ff6b00;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-shadow: white 1px;
}

nav h1, #modalIn h1{
    margin: 0px;
}
/*=========== tela menor ==========*/
@media (max-width: 480px){
    #logo, #config{
        height: 50px;
        margin-right: 15px;
    }

    #logo{
        margin-left: 10px;
    }

    nav h1{
        font-size: 25px;
    }

    #cabecalhoModal h1{
        font-size: 20px;
    }

    #icoModal{
        height: 20px;
        margin-right: 10px;
    }

    #Centraliza input[type="text"], input[type="password"], select{
        text-align: center;
        width: 225px;
        padding: 5px;
    }
    
    #Centraliza #botao{
        color: white;
        transition: 0.5s;
        margin-top: 10px;
        padding: 5px;
        border: none;
        width: 225px;
        font-size: 15px;
    }

    #Centraliza label{
        margin: 0px;
        color: black;
        margin-top: 5px;
        font-size: 15px;
    }

    #ico, #menuIco{
        height: 15px;
    }

    #menuIco{
        margin-right: 5px;
        filter: invert(100%);
    }

    #conc{
        text-align: center;
        margin: 0px;
        font-size: 15px;
    }
    
    #confirm{
        height: 15px;
        margin-right: 5px;
    }

    #msg, #erro{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 12.5px;
    }

    #adc, #rmv{
        margin-top: 7.5px;
        font-size: 12.5px;
    }

    #cxCadastro{
        max-height: 550px;
    }

    #menuMain{
        width:50%;
    }

    .navMenu2{
        top: 50px;
    }

    .corpoModal label, .corpoModal span{
        font-size: 12.5px;
    }

    .corpoModal label{
        margin: 0px;
    }

    .corpoModal span{
        margin-left: 2.5px;
    }

    #modalIn{
        width: 350px;
    }

    #profile-pic{
        margin-right: 10px;
    }
}
/*=========== tela maior ==========*/
@media (min-width: 481px){
    #logo{
        height: 75px;
        margin-right: 15px;
    }

    #config{
        height: 55px;
        margin-right: 15px;
        cursor: pointer;
    }

    nav h1{
        font-size: 40px;
    }

    #cabecalhoModal h1{
        font-size: 25px;
    }

    #icoModal{
        height: 22.5px;
        margin-right: 10px;
    }

    #Centraliza input[type="text"], input[type="password"], select{
        text-align: center;
        width: 350px;
        padding: 5px;
        font-size: 20px;
    }

    #Centraliza #botao{
        color: white;
        transition: 0.5s;
        margin-top: 10px;
        padding: 5px;
        border: none;
        width: 350px;
        font-size: 20px;
    }

    #Centraliza label{
        margin: 0px;
        color: black;
        margin-top: 5px;
        font-size: 20px;
    }

    #ico, #menuIco{
        height: 20px;
    }

    #menuIco{
        margin-right: 10px;
        filter: invert(100%);
    }

    #conc{
        text-align: center;
        margin: 0px;
        font-size: 20px;
    }
    
    #confirm{
        height: 30px;
        margin-right: 5px;
    }

    #msg, #erro{
        text-align: center;
        margin-bottom: 0px;
        margin-top: 10px;
        font-size: 17.5px;
    }

    #adc, #rmv{
        margin-top: 10px;
        font-size: 15px;
    }

    #cxCadastro{
        max-height: 700px;
    }

    .navMenu2{
        top: 75px;
    }

    #menuMain{
        width:20%;
    }

    .corpoModal label, .corpoModal span{
        font-size: 17.5px;
    }

    .corpoModal label{
        margin: 0px;
    }

    .corpoModal span{
        margin-left: 5px;
    }

    #modalIn{
        width: 800px;
    }

    #profile-pic{
        margin-right: 15px;
    }

}

#flexbox{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Centraliza{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envio, #Centraliza .btnCadastro{
    background-color: rgb(19, 177, 19);
    color: white;
    transition: 0.5s;
    margin-top: 10px;
    padding: 5px;
    border: none;
    width: 225px;
}

.segundo{
    background-color: rgb(19, 87, 177);
    color: white;
    transition: 0.5s;
    margin-top: 10px;
    padding: 5px;
    border: none;
    width: 225px;
}

.envio:hover, #Centraliza  .btnCadastro:hover{
    background-color: rgb(19, 164, 177);
    color: white;
    transition: 0.5s;
}

#Centraliza .segundo:hover{
    background-color: rgb(0, 45, 87);
    transition: 0.5s;
}

.login{
    background-color: #ff6b00;
}

.cadastro{
    background-color: #050517;
}

#cxCadastro{
    background-color: white;
    padding: 15px;
    border-radius: 2.5px;
    overflow:auto; 
}

#cxLogin{
    padding: 15px;
    border-radius: 2.5px;
}

#Instrumento{
    margin:0px;
}

.add{
    margin-right: 5px;
}


#adc, #rmv{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#msg{
    background-color: rgb(251, 201, 201);
}

#erro{
    background-color: rgb(251, 201, 201);
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuMain{
    list-style: none;
    color:white;
    background-color:#ff6b00;
}

.navMenu{
    position: absolute;
    width: 100%;
    right: 0px;
    transform: translateY(-100%);
    transition: 0.25s;
    display: flex;
    justify-content: flex-end;
}

.navMenu2{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 0.25s;
}

li{
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

li:hover{
    background-color:  rgb(2, 70, 134);
    transition: 0.5s;
}

.logout:hover{
    background-color:  rgb(194, 5, 5);
    transition: 0.5s;
}

#modalEx{
    background-color: rgba(0, 0, 0, 0.561);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
}

#modalIn{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
}

#cabecalhoModal{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 7.5px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

#tituloModal{
    display: flex;
    align-items: center;
}

#fecharModal{
    height: 15px;
    cursor: pointer;
}

#perfil{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2.5px;
}

#profile-pic{
    height: 50px;
}

.corpoModal span{
    color: rgb(71, 71, 71);
}